<div class="navbar-fixed">
  <nav style="background-color: #003366;"> 
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left" style="display: flex; align-items: center;">
          <img src="/images/logo.png" alt="WIT" style="height: 45px; margin-right: 10px;">
          <span class="hide-on-med-and-down" style="font-size: 1.2rem;">WIT PBAS Portal</span>
        </a>
        
        <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        
        <ul class="right hide-on-med-and-down">
          {{#if_eq user.type 'faculty'}}
            <li><a href="/users/faculty/facultyOverview">Dashboard</a></li>
            <li><a href="/appraisal/form">Appraisal Form</a></li>
            <li><a href="/users/logout">Logout</a></li>
          {{/if_eq}}

          {{#if_eq user.type 'hod'}}
            <li><a href="/users/hod/hodOverview">HOD Home</a></li>
            <li><a href="/users/hod/appraisalList">Appraisal List</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="profile-hod"><i class="material-icons">account_circle</i></a></li>
          {{/if_eq}}

          {{#if_eq user.type 'manager'}}
            <li><a href="/users/management/home">Admin Home</a></li>
            <li><a href="/users/management/registerUser">Register User</a></li>
            <li><a href="/users/management/viewUsers">View Users</a></li>
            <li><a href="/users/logout">Logout</a></li>
          {{/if_eq}}

          {{#unless user}}
            <li><a href="/">Home</a></li>
          {{/unless}}
        </ul>

        <ul id="profile-hod" class="dropdown-content">
          <li><a href="/users/hod/registerFaculty" class="black-text">Register Faculty</a></li>
          <li><a href="/users/logout" class="black-text">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<ul id="mobile-demo" class="sidenav">
  <li>
    <div class="user-view" style="background-color: #003366; padding: 30px;">
        <span class="white-text name">WIT Solapur</span>
        <span class="white-text email">PBAS Portal</span>
    </div>
  </li>
  {{#if_eq user.type 'faculty'}}
    <li><a href="/users/faculty/facultyOverview"><i class="material-icons">dashboard</i>Dashboard</a></li>
    <li><a href="/appraisal/form"><i class="material-icons">assignment</i>Appraisal Form</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/users/logout"><i class="material-icons">exit_to_app</i>Logout</a></li>
  {{/if_eq}}
  
  {{#unless user}}
    <li><a href="/">Home</a></li>
    <li><a href="/users/faculty/login">Faculty Login</a></li>
  {{/unless}}
</ul>